{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/base.css') }}" type="text/css">
{% endblock %}
{% block body %}
	<style></style>

	<h1 class="text-center m-3 titre">PARIS:
		<i>LA VILLE LUMIÈRE</i>
	</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Identifiant</th>
				<th>Titre</th>
				<th>Description</th>
				<th>Créé le</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for post in posts %}
				<tr>
					<td>{{post.id}}</td>
					<td>{{post.slug}}</td>
					<td>{{post.title}}</td>
					<td>{{post.excerpt}}</td>
					<td>{{post.createDate}}</td>
					<td>
						<a href="" class="btn btn-info">
							<i class="fas fa-pen"></i>Détail</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}